.title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 42px;
    // line-height: 207%;
    text-transform: uppercase;
    color: #000;
    &-left {
        text-align: left;
        margin-top: 50px;   
    }
}

.subtitle {
    margin-top: 15px;   
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
}
.descr {
    margin-top: 10px;    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #000;
}