:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Jost", sans-serif;
    --third-family: "Cormorant SC", sans-serif;
    --font3: "Inter", sans-serif;
    --font4: "SF Pro Text", sans-serif;
    --dark: #001e1c;
  }