@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

@import 'base/mixins';  
@import  'base/variables';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--second-family);
}

.container {
    margin: 0 auto;
    width: 1290px;
}

@import 'blocks/header/header';
@import 'blocks/promo/promo';
@import 'blocks/carousel/carousel';
@import 'blocks/title/title';
@import 'blocks/market/market'; 
@import 'blocks/politics/politics';